<div>
<p class="para">
    Hi Ashish,<br><br>
    You have been allocated to  “ Deposits”  line of business. Your point of contact for any queries or escalations are ​
    <br><br>
    Chandrashekhar Chaudhari  (Chandrashekhar.c@mphasis.com)​<br><br>
    Rajesh Vaidya (Rajesh.vaidya01@mphasis.com)​<br><br>


    Suresh Simikeri( Suresh.Simikeri@mphasis.com)​<br><br>

    Please complete the procedures and trainings as a part of onboarding to the account ​<br><br>

​       <button type="button" class="btn btn-outline-dark" routerLinkActive="active" style="margin-left: 50%;">Next</button>

</p>
</div>