<div class="img">

<p class="para">Dear Employee,<br><br>
    Welcome to First Republic Family!<br><br>
    Founded in 1985, First Republic Bank and its subsidiaries provide private banking, private business<br>
    banking and private wealth management, including investment, trust and brokerage services.<br><br>
    First Republic offers wealth management services through First Republic Wealth Advisors and First <br>
    Republic Investment Management. Brokerage services are provided through First Republic Securities<br>
     Company LLC and Trust services are provided through First Republic Trust Company.​ <br><br>

     First Republic specializes in delivering exceptional relationship-based service, with a solid commitment
     <br> to responsiveness and action.​<br><br>

     Mphasis is committed to the First Republic Bank about data privacy and commitment towards customer <br>
     data and FRB brand image, so before getting into the offshore development center, you need to go <br>
     through all the important documents and topics you need to know about the First Republic Bank and the<br>
      rules with in ODC and working from home ​.<br><br>

    -Sunil Sharma<br>
    Delivery Leader
    <button type="button" class="btn btn-outline-dark" routerLink="/registration" routerLinkActive="active" style="margin-left: 50%;">Enter</button>
     ​</p>

    

</div>