/* .img{
    background-image: url('/assets/images/pexels-alex-conchillos-3745234.jpg');
    background-size: cover;
    width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.para{
    color: blanchedalmond;
} */
.para{
  margin-left: 15%;
}
