<div class="para">Enter Your Information <br><br>
    <table>
        <tbody>
        
        <tr>
        <td><label for="id">Employee Id: </label></td>
        <td><input type="text" required minlength="7"/></td>
        </tr>
        <br>
        <tr>
        <td><label for="name">Name: </label></td>
        <td><input type="text" /></td>
        </tr>
        <br>
        <tr>
        <td><label for="Email">Email: </label></td>
        <td><input type="email" required/></td>
        </tr>
        <br>
        <tr>
        <td><label for="Designation">Designation: </label></td>
        <td><input  type="text" /></td>
        </tr>
        <br>
        <tr>
        <td><label for="lob">Line Of Buisness: </label></td>
        <td><input  type="text" /></td>
        </tr>
        </tbody>
        </table>

</div>
<div>
<button type="button" class="btn btn-outline-dark" routerLink="/lob" routerLinkActive="active" style="margin-left: 50%;">Submit</button>
</div>
